---
import './styles.css';

interface Props {
    copyright: string,
    links: {
        id: string,
        label: string,
    }[],
}

const { copyright, links } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="footer-content">
        <div class="copyright">
            © {currentYear} {copyright}
        </div>
        <div class="footer-links">
            {links.map((link) => (
              <a href=`#${link.id}`>{link.label}</a>
            ))}
        </div>
    </div>
</footer>
