---
import type {ImageMetadata} from "astro";

import './styles.css';

import bgHero from '../../../assets/bg-hero.jpg';
---

<section class="hero" id="inicio">
    <div class="hero-background"><img src={(bgHero as ImageMetadata).src} alt="WEZZAX" /></div>
    <div class="hero-wrapper">
        <div class="hero-content">
            <h1>Transformamos <span class="highlight">tus ideas</span> en aplicaciones reales</h1>
            <p>Desarrollamos aplicaciones web SaaS escalables y modernas que impulsan el crecimiento de tu negocio</p>
            <div class="hero-buttons">
                <a href="#contacto" class="btn-primary">Comenzar proyecto</a>
            </div>
        </div>
    </div>
</section>
